<div class="row">
	<div class="col-md-5 col-md-offset-4">
		<%= form_for @pet do |f| %>
			<%= render partial: "lost", locals: { f: f } %>

			<div class="actions text-right">
				<span class="form-control-static" style="padding-right: 1.4rem; margin-right: 2rem; border-right: 1px solid #E5E5E5;">
					<%= link_to "Nevermind, we found her!", root_path, tabindex: "-1" %>
				</span>
				<button class="btn btn-primary" type="submit" style="width: 170px">Please, find my pet!</button>
			</div>
			
		<% end %>
	</div>
</div>