.jumbotron(style='margin-top: 3rem; border: 2px solid #cecece; padding: 3rem;')
	%h1 Missing Pet Now
	%p Need help finding your pet? You've come to the right place.
	%p.text-center
		%a.btn.btn-primary.btn-lg.lost(role='button' style='width: 170px') I lost a pet!
		%a.btn.btn-primary.btn-lg.found(role='button' style='width: 170px') I found a pet!

.row
	.col-md-5.col-md-offset-1.cards.lost
		%h1.title
			Lost Pets
			%i.fa.fa-bullhorn.pull-right
		- @lost_pets.each do |pet|
			.card
				%h3.title 
					%a(href='#')= pet.name

				%p.description 
					%img.pull-left{ :src => pet.image }
					= pet.description
				.actions.text-right
					%a(href='#')
						%i.fa.fa-info-circle.fa-lg
	.col-md-5.found.cards
		%h1.title
			Found Pets
			%i.fa.fa-certificate.pull-right
		- @found_pets.each do |pet|
			.card
				%h3.title 
					%a(href='#')= pet.name

				%p.description 
					%img.pull-left{ :src => pet.image }
					= pet.description
				.actions.text-right
					%a(href='#')
						%i.fa.fa-info-circle.fa-lg

%script(id='new-list-form' type='text/ractive')
	%form
		%p Foo